// Импортируем другие SCSS:
@import "_stylereset.scss";
@import "_variables.scss";
@import "_templates.scss";
@import "_mixins.scss";
@import "_fonts.scss";

.

.social {
	display: flex;
	height: 27px;
	width: 27px;
	font-size: 16px;
	justify-content: center;
	align-items: center;
	&:hover {
		background-color: #395693;
		color: #fff;
		transition: 0.1s ease all;
	}
}